%title furcade
= css '/main.css'
= css 'https://fonts.googleapis.com/css?family=Amiko'
= nav is_user?
- if is_user?
  %p
    you are logged in as
    = @user.username
  %p
    Not much to see here yet!
    Don't worry, ther'll be more in the future!
- else
  %p This is the FurCade beta. So far not much has been done.
  %p
    Check out
    %a{:href => "http://twitter.com/furcade"} our twitter
    for information and
    %a{:href => "http://gitlab.com/furcade"} our gitlab
    for source code.
  %p
    If you'd like to test it out, you can go ahead and fiddle around!
  %p
    Please note that registration requires authorization, so please
    contact an existing contributor to furcade to learn how to get an account.
