%title log in | furcade
= css '/main.css'
= css 'https://fonts.googleapis.com/css?family=Amiko'
= nav is_user?
%form.skinny-form{:action => "/login/auth?then_to=#{params["then_to"]}", :method => 'post'}
  %input{:type => 'text', :name => 'username', :placeholder => 'Username'}
  %input{:type => 'password', :name => 'password', :placeholder => 'Password'}
  %input{:type => 'submit', :value => 'Log In'}
  - require 'uri'
  - if params['error'] != nil
    .errorbox
      = URI.unescape(params['error'])
