%title register | furcade
= css '/main.css'
= css 'https://fonts.googleapis.com/css?family=Amiko'
= nav is_user?
%form.skinny-form{:action => "/register/auth?then_to=#{params["then_to"]}", :method => 'post'}
  %input{:type => 'text', :name => 'username', :placeholder => 'Username'}
  %input{:type => 'password', :name => 'password', :placeholder => 'Password'}
  %input{:type => 'password', :name => 'pass2', :placeholder => 'Password (Again)'}
  %input{:type => 'submit', :value => 'Register'}
  .errorbox
    Registration is currently RESTRICTED. Only users who have been given a LOCKWORD by the site
    administrator are allowed to register accounts.
    %input{:type => 'password', :name => 'lockword', :placeholder => 'LOCKWORD'}
  - require 'uri'
  - if params['error'] != nil
    .errorbox
      = URI.unescape(params['error'])
