%title register | furcade
= css '/main.css'
= css 'https://fonts.googleapis.com/css?family=Amiko'
= nav is_user?

%form.skinny-form{:action => '/settings/password', :method => 'post'}
  %h2#password Change Password
  = errorbox params['passworderror']
  %input{:type => 'password', :name => 'newpass', :placeholder => 'New Password'}
  %input{:type => 'password', :name => 'oldpass', :placeholder => 'Old Password'}
  %input{:type => 'submit', :value => 'Update Password'}

%form.skinny-form{:action => '/settings/delete', :method => 'post'}
  %h2#delete Delete Account
  = errorbox params['deleteerror']
  %input{:type => 'password', :name => 'password', :placeholder => 'Password'}
  %input.red{:type => 'submit', :value => 'Delete Account'}
