* { box-sizing: border-box; }
body {
  font-family: 'Amiko', sans-serif;
  margin: 2em;
}
a {
  color: #ec4a42;
  text-decoration: none;
}
p {
  margin: 0.4em 0;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 1.5em;
  margin: 0.5em;
}
.nav {
  margin: 0 0 0.7em 0;
}
.navslash {
  color: #777;
  margin: 0 3px;
}
.errorbox {
  background-color: #faa;
  color: #a00;
}
.skinny-form {
  width: 20em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
input[type=text], input[type=password], input[type=email], button, input[type=submit], .errorbox {
  padding: 1em;
  margin: 0.5em 0;
  display: block;
  font-family: 'Amiko', sans-serif;
  width: 100%;
}
input[type=text], input[type=password], input[type=email] {
  border: none;
  border-bottom: 1px solid #555;
  background: #f3f3f3;
  transition: border-color 0.1s linear;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  border-color: #1a1;
  outline: none;
}
button, input[type=submit] {
  border: none;
  cursor: pointer;
  background: #1a1;
  color: #fff;
  font-weight: bold;
}
button.red, input[type=submit].red {
  background: #a11;
}
